<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StockWise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/aspnet_store.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <style>
        .sidebar {
            height: 100vh;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #343a40;
            padding-top: 20px;
        }

            .sidebar a {
                padding: 15px;
                text-decoration: none;
                font-size: 18px;
                color: white;
                display: block;
            }

                .sidebar a:hover {
                    background-color: #575d63;
                }

        .content {
            margin-left: 250px;
            padding: 20px;
        }

        .icon {
            margin-right: 10px;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f8f9fa;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <a href="@Url.Action("Index", "Home")"><i class="bi bi-house-door-fill icon"></i> Tela Inicial</a>
        <a href="@Url.Action("List", "Produto")"><i class="bi bi-box-seam icon"></i> Produto</a>
       @* <a href="@Url.Action("List", "Servico")"><i class="bi bi-tools icon"></i> Serviço</a> *@
        <a href="@Url.Action("List", "Usuario")"><i class="bi bi-person-fill icon"></i> Usuário</a>
        @* <a href="@Url.Action("List", "Departamento")"><i class="bi bi-building icon"></i> Departamento</a> *@
        <a href="@Url.Action("List", "Fornecedor")"><i class="bi bi-truck icon"></i> Fornecedor</a>
        <a href="@Url.Action("List", "Pedido")"><i class="bi bi-file-earmark-text-fill icon"></i> Pedido</a>
        @* <a href="@Url.Action("List", "OrdemCompra")"><i class="bi bi-cart-fill icon"></i> Ordem de Compra</a> *@
        <a href="@Url.Action("ListEntrada", "Estoque")"><i class="bi bi-box-arrow-in-down icon"></i> Entrada</a>
        <a href="@Url.Action("ListSaida", "Estoque")"><i class="bi bi-box-arrow-up icon"></i> Saída</a>
    </div>

    <
    <div class="content">
        <header>
            <h1 class="neon-title">aspnet_store</h1>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">aspnet_store</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - aspnet_store
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>